/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
    background-color: gray;
}

footer{
    text-align: center;
    background-color: black;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;

}
p{
    font-size: 17px;
    color: black;
    text-indent: 50px;
}
h1{
   text-shadow: 2px 2px #8B008B;
}
h2{
    color: white;
    text-shadow: 2px 2px #8B008B;
}
h4{
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
}
a{
    color: white;
}
.intropage{
    color: white;
}
tr{
    color:white;
}
.links ul,
.links li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.links {
    
    margin: auto;
    width:38%;
    border:3px solid;
    vertical-align: middle;
}

